@charset "UTF-8";

/* Обнуление */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ------------------ */

/* ------------------ */

/* ------------------ */

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 153, 125, 0.2);
  position: absolute;
  top: 0;
}

.header__content {
  max-width: 1450px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 50px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu__link:hover {
  color: #35D3B7;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: -121px;
  background-color: #fff;
  padding: 60px;
  min-width: 720px;
}

.menu__sub-list::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -9px;
  left: 140px;
}

.menu__sub-list-img {
  position: absolute;
  right: 0;
  top: 45px;
}

.menu__sub-list-title {
  font-size: 2.25rem;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #35D3B7;
  display: inline-block;
}

.menu__sub-list li {
  margin: 0px 0px 20px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #000;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.625rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
}

.menu__sub-link:hover {
  color: #35D3B7;
}

/* ----------------------- */

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
  border-top: 10px solid #000;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.logo-mobile {
  display: none;
}

.logo-mobile img {
  max-width: 70%;
}

body._lock .logo-mobile {
  display: block;
  position: relative;
  z-index: 5;
}

body._lock .logo {
  display: none;
}

body._lock {
  overflow: hidden;
}

/* ----------------------- */

.footer {
  margin-bottom: 75px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-content__address {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

.footer-content__errow {
  margin-bottom: 20px;
}

.footer-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-children:nth-child(1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-children:nth-child(2) {
  padding-left: 30px;
}

.footer-children__item {
  margin-bottom: 12px;
}

.footer-children__link {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

.footer-children__link:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: #000000;
  content: "";
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.footer-children__link:hover::after {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  background-color: #000000;
  content: "";
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.footer-logo img {
  width: 70%;
}

.footer-children__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer-children__tel::before {
  content: "";
  position: absolute;
  display: block;
  left: -29px;
  bottom: 27px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../img/phon-footer.svg);
}

.footer-children__mail {
  padding-left: 30px;
  position: relative;
}

.footer-children__mail::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: -5px;
  top: 1px;
  background-repeat: no-repeat;
  background-image: url(../img/mail.svg);
}

.footer-children__tel .footer-children__link {
  margin-bottom: 12px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

:root {
  font-size: 16px;
}

._wrapper {
  max-width: 1450px;
  margin: 0 auto;
  min-height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

._container {
  max-width: 1205px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

._title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.375rem;
  text-align: center;
  letter-spacing: 0.045em;
  margin-bottom: 60px;
  color: #000000;
}

.baner {
  margin-bottom: 75px;
  position: relative;
}

.baner__bg {
  width: 100%;
}

.baner-content {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 30%;
}

.baner-content__title {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 6.125rem;
  color: #FFFFFF;
}

.baner-content__description {
  font-size: 1.625rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  margin-bottom: 65px;
}

.baner-content__btn {
  padding: 0.9375rem 2.4375rem;
  background: rgba(0, 153, 125, 0.79);
  border-radius: 43px;
  margin-bottom: 4.375rem;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.baner-content__btn:hover {
  background: rgba(0, 153, 125, 0.5);
}

.achievements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

.achievements {
  margin-bottom: 75px;
}

.achievements__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 207px;
  position: relative;
  margin-left: 10px;
}

.achievements__item:first-child::before {
  margin-left: 0;
}

.achievements__item::after {
  content: "";
  position: absolute;
  right: -35px;
  width: 2px;
  height: 114px;
  background-color: #29A28C;
}

.achievements__item::after:first-child::before {
  display: none;
}

.achievements__item:last-child::after {
  display: none;
}

.achievements__figure {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.0625rem;
  letter-spacing: 0.08em;
}

.achievements__description {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: lowercase;
}

.section-warranty {
  margin-bottom: 75px;
}

.warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.warranty__img {
  max-width: 100%;
}

.warranty__text {
  text-align: center;
  max-width: 670px;
  padding-left: 20px;
}

.warranty__description {
  font-size: 1.4375rem;
  line-height: 1.9375rem;
  letter-spacing: 0.025em;
  margin-bottom: 2.1875rem;
}

.warranty__btn {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -0.015em;
  padding: 0.625rem 2.1875rem;
  background-color: #000000;
  -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
}

.warranty__footer {
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: -0.015em;
  position: absolute;
  max-width: 600px;
  bottom: 0;
  right: 0;
}

.warranty__title {
  position: relative;
}

.warranty__title::after {
  content: "";
  position: absolute;
  background-image: url(../img/quote-left.svg);
  width: 60px;
  height: 60px;
  display: block;
  bottom: -11px;
  left: 20px;
}

.warranty__title::before {
  content: "";
  position: absolute;
  background-image: url(../img/quote-right.svg);
  width: 60px;
  height: 60px;
  display: block;
  right: -8px;
  top: -14px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 75px;
}

.services-item {
  max-width: 21.25rem;
  -webkit-box-shadow: 0px 3px 11px rgba(3, 74, 62, 0.56);
          box-shadow: 0px 3px 11px rgba(3, 74, 62, 0.56);
  border-radius: 27px;
  padding: 16.8125rem 1.3rem 4.375rem 2rem;
  overflow: hidden;
  position: relative;
}

.services-item__content {
  min-height: 363px;
}

.services-item__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: -124px;
}

.services-item__description {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: -0.015em;
  margin-bottom: 34px;
  max-width: 243px;
}

.services-item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 244px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.05em;
  color: #000000;
  stroke: #000000;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.services-item__btn:hover {
  color: #29A28C;
  fill: #29A28C;
  stroke: #29A28C;
}

.services-item__corner {
  position: absolute;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  right: -11px;
  top: -8px;
}

.services-item__corner::before {
  content: "";
  display: block;
  position: absolute;
  width: 53px;
  height: 53px;
  background-repeat: no-repeat;
  right: 26px;
  top: 23px;
}

.services-item:nth-child(1) .services-item__corner::before {
  background-image: url(../img/phon.svg);
}

.services-item:nth-child(2) .services-item__corner::before {
  background-image: url(../img/laptop.svg);
}

.services-item:nth-child(3) .services-item__corner::before {
  background-image: url(../img/internet.svg);
}

.projects {
  margin-bottom: 70px;
}

.projects-slider__item {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  margin-bottom: auto;
  -webkit-transition: 0.9s ease;
  -o-transition: 0.9s ease;
  transition: 0.9s ease;
  text-align: center;
  position: relative;
}

.projects-slider__item img {
  width: 100%;
}

.projects-slider .swiper-scrollbar-drag {
  cursor: pointer;
  width: 84px;
  height: 18px;
  background-color: #000;
  top: -9px;
  border-radius: 0;
}

.swiper-slide-active .projects-slider__item {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.swiper-container-horizontal > .swiper-scrollbar {
  width: 38%;
  margin-bottom: 34px;
  left: 31%;
  bottom: -30px;
  border: 6px solid #7B7B7B;
  border-radius: 0;
}

.projects-slider__content {
  position: absolute;
  left: 3px;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  height: 97%;
  background: rgba(0, 153, 125, 0.38);
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.8);
  padding: 2.8125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.projects-slider__title {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.projects-slider__description {
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0.065em;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.projects-slider__btn {
  padding: 0.3125rem 3.4375rem;
  background-color: #FFFFFF;
  color: #000000;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 15px;
}

.projects-slider__btn:hover {
  -webkit-box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.47);
          box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.47);
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.work-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

.work-tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 30px;
}

.work-tabs__item {
  padding: 0.875rem 2.5rem;
  margin-bottom: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

.work-tabs__item._active {
  border: 2px solid #29A28C;
}

.work-tabs__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-box {
  padding-left: 30px;
}

.work-box__title {
  font-size: 2.25rem;
  line-height: 3.0625rem;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.work-box__description {
  font-size: 1.4375rem;
  line-height: 1.9375rem;
  letter-spacing: 0.025em;
  margin-bottom: 30px;
}

.experience {
  margin-bottom: 75px;
}

.experience .swiper-wrapper {
  margin-bottom: 0px;
}

.experience-slider__image img {
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.experience-slider {
  max-width: 90%;
}

.experience-inner {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000;
}

.experience-slider__link {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}

.experience-slider__link:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.experience-slider__link:hover .experience-slider__description {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination {
  display: none;
}

.experience-slider__description {
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  bottom: 45%;
  color: #fff;
  font-weight: 600;
  font-size: 1.625rem;
  letter-spacing: .025em;
  width: 100%;
  text-align: center;
}

.section-imgs {
  margin-bottom: 75px;
}

.section-imgs__img {
  width: 100%;
}

.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
  padding-bottom: 30px;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #ffd300;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

.section-form__img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

.section-form__person {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  background-color: rgba(2, 123, 102, 0.1);
  padding-top: 58px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-form__name {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.section-form__post {
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 28px;
}

.section-form__description {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.375rem;
  max-width: 419px;
  margin: 0 auto 53px auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100px;
}

.input._focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form {
  background: -o-linear-gradient(206.11deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);
  background: linear-gradient(243.89deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);
  padding: 75px 50px 70px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__item {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-bottom: 75px;
  color: rgba(255, 255, 255, 0.46);
  padding-left: 15px;
  padding-bottom: 10px;
  outline: none;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.form__item::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.form__item::-moz-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.form__item:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.form__item::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.form__item::placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.form__name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form__email {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}

.form__tel {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}

.box-massage {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 5px;
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-massage__label {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: rgba(255, 255, 255, 0.46);
}

.box-massage__massage {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.46);
  padding-top: 5px;
  resize: none;
  width: 100%;
  height: 156px;
  outline: none;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.box-massage__massage::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.box-massage__massage::-moz-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.box-massage__massage:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.box-massage__massage::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.box-massage__massage::placeholder {
  color: rgba(255, 255, 255, 0.46);
}

.file__wrapper {
  height: 31px;
  width: 31px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
  position: relative;
  bottom: 40px;
  left: 4px;
  font-size: 0.875rem;
  color: #fff;
}

.input__file-button {
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.box-massage__btn {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  width: 31px;
  margin-right: 15px;
}

@media (min-width: 1100px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 97600px) {
  .form {
    padding: 75px 44px 70px 44px;
  }
}

@media (max-width: 1210px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .work-img {
    max-width: 100%;
  }

  .work-tabs__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .work-box {
    padding-left: 0;
  }
}

@media (max-width: 1100px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  body._lock .menu__body-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  body._lock .header__menu {
    width: 100%;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00997d;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: rgba(0, 153, 125, 0.2);
    z-index: 2;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }

  .menu__link {
    color: #fff;
  }

  .menu__arrow {
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    top: 14px;
    left: 87px;
  }

  .menu__sub-list {
    top: 100%;
    left: 0;
    padding: 60px;
    min-width: 0;
  }

  .menu__sub-list-img {
    display: none;
  }

  .menu__sub-list {
    top: 100%;
    left: 0;
    padding: 15px;
    min-width: 0;
  }

  body._touch .menu__list > li._active .menu__sub-list {
    border-top: 0px solid #000;
  }

  .warranty__footer {
    max-width: 571px;
  }

  .warranty__footer {
    display: none;
  }
}

@media (max-width: 1050px) {
  .baner-content {
    top: 20%;
  }

  .baner-content__title {
    font-size: 4rem;
  }

  .baner-content__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .achievements__item::after {
    right: -3px;
  }

  .warranty {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 970px) {
  .projects-slider__item {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }

  .swiper-slide-active .projects-slider__item {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .swiper-container-horizontal > .swiper-scrollbar {
    bottom: 32px;
  }

  .projects__title {
    margin-bottom: 0;
  }

  .work-box__title {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .work-box__description {
    font-size: 1rem;
  }

  .section-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 960px) {
  .services__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services-item {
    padding: 16.8125rem 1.3rem 4.375rem 1rem;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .services-item:first-child {
    margin-left: 0;
  }

  .services-item__content {
    min-height: 284px;
  }
}

@media (max-width: 940px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-children {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-children__item {
    margin-left: 30px;
  }
}

@media (max-width: 820px) {
  .swiper-container-horizontal > .swiper-scrollbar {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    display: block;
    width: 100%;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    margin-left: 5px;
    margin-top: 20px;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet:first-child {
    margin-left: 0;
  }

  .swiper-pagination-bullet-active {
    background-color: #29A28C;
  }
}

@media (max-width: 810px) {
  .baner-content {
    display: none;
  }

  .baner-content__description {
    display: none;
  }
}

@media (max-width: 660px) {
  .projects-slider__description {
    display: none;
  }
}

@media (max-width: 640px) {
  .services-item {
    margin-left: 0;
  }
}

@media (max-width: 630px) {
  .achievements__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .achievements__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-bottom: 40px;
  }

  .achievements__item:nth-child(2)::after {
    display: none;
  }

  .warranty__title {
    max-width: 401px;
    margin: 0 auto 30px auto;
  }

  .warranty__title::after {
    bottom: -26px;
    left: 64px;
  }

  .warranty__title::before {
    right: 2px;
    top: -26px;
  }

  .work-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .work-tabs__nav {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work-tabs__item {
    margin-left: 5px;
  }

  .work-box {
    text-align: center;
  }

  .work-box__btn {
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .projects-slider__content {
    max-width: 70%;
    padding: 1rem;
  }
}

@media (max-width: 460px) {
  .logo-img {
    max-width: 70%;
  }
}

@media (max-width: 450px) {
  .form__email {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .form__tel {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 435px) {
  .footer-children:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-children__link {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  ._title {
    font-size: 2rem;
  }

  .achievements__figure {
    font-size: 2rem;
  }

  .achievements__description {
    font-size: 0.8rem;
  }

  .warranty__title {
    max-width: 261px;
  }

  .warranty__title::after {
    left: 27px;
  }

  .warranty__title::before {
    right: -29px;
  }

  .experience-slider {
    max-width: 78%;
  }
}

@media (max-width: 360px) {
  .footer-children__link {
    font-size: 0.8rem;
  }
}